/* Oddfont für Überschriften */
@font-face {
  font-family: 'Oddfont';
  src: url('/assets/fonts/Oddfont-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Quicksand für Fließtext */
@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
    font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  width: 100vw;
  max-width: auto;
  margin: 0 auto;
   overflow-x: hidden; /* verhindert horizontales Scrollen */
}


/* Überschriften: Oddfont */
h1, nav a {
  font-family: 'Oddfont', sans-serif !important;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

h2,h3,h4,h5,h6 {
margin-left: 1.5rem;
margin-right: 1.5rem;
}

header {
  background-color: #1b1919; /* später evtl. helleres Grau */
  color: #fff;
  padding: 0.5rem;
  text-align: right;
}

/* Layout: Avatar links, Menü rechts */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Damit es bei kleinen Screens umbrechen darf */
  gap: 1rem;
}

/* Avatar + Link */
.header-left {
  text-align: center;
}

.avatar {
  width: 100px;
  border-radius: 50%;
}

.avatar-link {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
}

p {
  margin: 1.5rem;
}


/* Navigation */
.header-right {
  display: flex;
  flex-wrap: wrap;
  gap: 2.0rem;
  justify-content: center;
}

nav a {
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;

}

nav a:hover {
  border-bottom: 2px solid #fff;
}

/* -------- Responsiv -------- */
@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }

  .header-right {
    flex-direction: column;
    gap: 0.5rem;
  }
 .avatar {
    width: 80px;
  }
  nav a {
    font-size: 1.1em;
  }
 
}

footer {
  background-color: #1b1919; 
  color: #fff;
  text-align: center;
  padding: 0.8rem;
  margin-top: 2rem;
}

/* Zwei Spalten Beispiel */
.columns {
  display: flex;
  gap: 20px;
}
.column {
  flex: 1;
}

div.d {
  text-align: justify;
} 


/* CSS für die Landingpage */
 .lp-body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
      font-family: 'Quicksand', sans-serif;
      text-align: center;
    }


.lp-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 15rem); /* oder was du brauchst */
  position: relative;
   gap: 3rem; /* Abstand zwischen Bild und Button */
   background-size: cover
}


.lp-gif-bg {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: auto;
  object-fit: cover;
  z-index: 0;
}

.lp-main img {
  display: block;
  margin: 0 auto;
  max-width: 95vw;   /* damit es auf kleinen Screens nicht überläuft */
  min-width: 480px;  /* damit es nie zu klein wird */
  height: auto;
}

@media (max-width: 600px) {
  .lp-main img {
    min-width: 480px;
  }
}


.lp-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #302e2e;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: bold;
   position: relative;
  z-index: 1;
}

.lp-button:hover {
  background-color: #464343;
}

    @media (max-width: 680px) {
      header, footer {
        padding: 1.5rem 0;
      }

      .lp-button {
        padding: 0.6rem 1.2rem;
      }
    }


    .lp-header {
  background: linear-gradient(to bottom, #1d1d1d, #fff);
  min-height: 60px;
}
.lp-footer {
  background: linear-gradient(to top, #1d1d1d, #fff);
  min-height: 60px;
}